<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
* {
    margin: 0px;
    padding: 0px;
}
.flex-box{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.center{
    text-align: center;
}
.box-1{
    background-color: aqua;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    margin: 5px 10px;
}
</style>
<body>
    <h1 class="center">Welcome</h1>
    <div class="flex-box">
        {% for i in range(0,num)%}
        <div class="box-1" style="background-color: {{color}}"></div>
        {% endfor %}
    </div>
</body>
</html>